@font-face {    font-family:'Experiment';    src:url("../font_versions/3096_experiment-latin-0.otf");}
@font-face {    font-family:'Experiment';    src:url("../font_versions/3097_experiment-latin-0.otf");}
@font-face {    font-family:'Experiment';    src:url("../font_versions/3098_experiment-latin-0.otf");}
@font-face {    font-family:'Experiment';    src:url("../font_versions/3099_experiment-latin-0.otf");}
@font-face {    font-family:'Experiment';    src:url("../font_versions/3100_experiment-latin-0.otf");}
@font-face {    font-family:'Experiment';    src:url("../font_versions/3101_experiment-latin-0.otf");}
@font-face {    font-family:'Experiment';    src:url("../font_versions/3102_experiment-latin-0.otf");}
@font-face {    font-family:'Experiment';    src:url("../font_versions/3103_experiment-latin-0.otf");}
@font-face {    font-family:'Experiment';    src:url("../font_versions/3104_experiment-latin-0.otf");}
@font-face {    font-family:'Experiment';    src:url("../font_versions/3105_experiment-latin-0.otf");}
